.wrapper {
    width: min(1000px, 100%);
}

.scenes {
    position: relative;
    aspect-ratio: 2.4 / 1;

}

.scene1, .scene2 {
    position: absolute;
    inset: 0;
    background-size: cover;
}

.scene1 {
    background-image: url("jyn-erso.jpeg");
}

.scene2 {
    background-image: url("death star.jpeg");
    -webkit-mask-image: linear-gradient(to right, transparent 33%, #fff 67%);
}

.scenes:is(:hover) .scene2 {
    -webkit-mask-image: linear-gradient(to right, transparent 47.5%, #fff 52.5%);
   
    -webkit-mask-position: left;
     -webkit-mask-size: 210%;
    -webkit-mask-position: right;
    transition: -webkit-mask-position 3s linear;
}

